*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db

/sdo_qc/
/.mingit/
patch*.php
import*.php

*.xlsx
~*.xlsx
temp_schema.txt
test_*.php
sample_*.php
regex_test.php
composer-setup.php
